@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WordleClash.Core.Enums
@model WordleClash.Core.GameView
@if (Model.Status is GameStatus.Won or GameStatus.Lost)
{
    <partial name="Shared/PostGameOverlay" model="@Model.Status == GameStatus.Won"/>
}

<div class="wordle__container">
    <partial name="Shared/Field" model="Model"/>
    <partial name="Shared/LetterOverview" model="Model.MoveHistory"/>
</div>
