@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WordleClash.Core.Enums
@model WordleClash.Web.Pages.Play.IndexModel

<div class="field__wrapper">
    @if (Model.Lobby!.State == LobbyState.InLobby)
    {
        <div class="field-await__container">
            @if (Model.Lobby.Players.Count == Model.Lobby.RequiredPlayers)
            {
                <h1>Wait for start</h1>
                @if (Model.ThisPlayer?.IsOwner == true)
                {
                    <form
                        method="post"
                        hx-post="@Url.Page("/Play/Index", "StartGame")"
                        hx-swap="none">
                        <button class="btn__base btn__primary" type="submit">
                            Start game
                        </button>
                    </form>
                }
            }
            else
            {
                <h1>Wait for opponent</h1>
            }
        </div>
    }
    <input type="hidden" value="@CanType().ToString().ToLower()" id="canType"/>
    <partial name="Shared/Field" model="@Model.Lobby.Games[0]"/>
</div>
@functions
{
    bool CanType()
    {
        if (Model.Lobby?.State != LobbyState.InGame)
        {
            return false;
        }
        return Model.ThisPlayer?.IsTurn != false;
    }
}
