@using WordleClash.Web.Utils
@model IEnumerable<WordleClash.Core.Entities.Player>
@inject SessionManager SessionManager
<div>
@foreach (var player in Model)
{
    <h2>@player.Id | @player.Name @(player.Id != SessionManager.GetPlayerInfo()?.PlayerId ? "" : "You")</h2>
}
</div>