.form__container {
    position: relative;
}
.form__container h1 {
    font-size: 4.4em;
    font-weight: 900;
    text-align: center;
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
}
.btn__base {
    font-size: 2em;
    box-shadow: black 2px 4px 0 6px, black 0 0 0 6px;
    padding: 12px;
}
.input__text {
    font-size: 2em;
    font-weight: 600;
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 15px;
    box-shadow: black 2px 4px 0 6px, black 0 0 0 6px;
    margin-right: 40px;
}
