header h1 {
    font-size: 30px;
    font-weight: 900;
    color: black;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99;
}

.back-button__container {
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.back-button__container p {
    font-weight: 900;
    font-size: 1.8em;
}
.back-button__container a {
    padding: 0;
    width: 35px;
    height: 30px;
    border-radius: 50px;
    margin-right: 20px;
    box-shadow: black 1px 2px 0 4px, black 0 0 0 4px;
    background-color: var(--btn-danger-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-button__container img {
    width: 1em;
}
