.grid__container {
    display: flex;
    width: 100vw;
}
.grid__left, .grid__right {
    flex: 1;
}
.grid__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.grid__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wordle__tile {
    height: 65px;
    width: 65px;
}
.field__wrapper {
    position: relative;
}
.field-await__container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(var(--background-color), 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.field-await__container h1 {
    font-size: 3em;
    font-weight: 900;
}
.versus-opponent__container {
    margin-left: 20px;
}
.versus-opponent__container h2, .versus-opponent__container h3 {
    font-weight: 900;
}
.opponent {
    color: #FE4D4D;
}
.you {
    color: #104FF1;
}
.versus-code__container {
    margin-top: 20px;
}
.versus-code__container h1 {
   font-weight: normal; 
}
.versus-code__code {
    font-weight: 900;
}
.game-turn-info__container {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}
.game-turn-info__container .you, .game-turn-info__container .opponent {
    font-weight: 900;
}
.wordle__tile {
    margin: calc(var(--tile-spacing) + 5px);
    outline-width: 5px;
}

.letters__container {
    width: 350px;
    position: static;
    margin-right: 20px;
}
