@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="wrapper">
    <ul>
        <li><a asp-page="Singleplayer">Singleplayer</a></li>
        <li><a asp-page="Lobby/Create">Versus mode</a></li>
        <li><a asp-page="Lobby/Join">Join</a></li>
    </ul>
</div>