@page
@model WordleClash.Web.Pages.SingleplayerModel

@{
    ViewData["Title"] = "Singleplayer";
}


<form method="post">
    <input name="Guess" maxlength="5" minlength="5" />
    <input type="submit"/>
</form>