@page
@using WordleClash.Core
@using WordleClash.Core.Enums
@model WordleClash.Web.Pages.SingleplayerModel

@{
    ViewData["Title"] = "Singleplayer";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/postgameoverlay.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/wordlegame.css" asp-append-version="true"/>
}
<div class="page__container">
    @{
        if (Model.Game.Status is GameStatus.Won or GameStatus.Lost)
        {
            <div class="game-end-overlay__container">
                <div class="game-end-overlay__base">
                    <form method="post" id="restartForm">
                        @if (Model.Game.Status == GameStatus.Won)
                        {
                            <div class="game-end-overlay__icon">&#127942;</div>
                            <h1>YOU WIN!</h1>
                        }
                        else
                        {
                            <h1>YOU LOSE!</h1>
                        }
                        <div class="game-end-overlay__buttons">
                            <button class="btn__base btn__primary" type="submit">New Game</button>
                            <button class="btn__base btn__danger" onclick="CloseOverlay()">Close</button>
                        </div>
                        <input type="hidden" name="NewGame" value="true"/>
                    </form>
                </div>
            </div>
        }
    }
    <div class="wordle__container">
        <partial name="Shared/PlayingField" model="Model.Game"/>
        <partial name="Shared/LetterOverview" model="Model.Game.MoveHistory"/>
    </div>
</div>

@section Scripts {
    <script src="~/js/WriteInTiles.js" asp-append-version="true"></script>
    <script>
        const CloseOverlay = () => {
            document.querySelector(".game-end-overlay__container").remove();
        }
    </script>
}
