@page
@using WordleClash.Core.Enums
@model WordleClash.Web.Pages.SingleplayerModel

@{
    ViewData["Title"] = "Singleplayer";
}
<div class="d-flex">
    <h1>@Model.Status</h1>
    @{
        if (Model.Status is GameStatus.Won or GameStatus.Lost)
        {
            <form method="post" id="restartForm">
                <button type="submit">New Game</button>
                <input type="hidden" name="NewGame" value="true"/>
            </form>
        }
    }
</div>

<div class="wordle">
    @for (var i = 0; i < Model.MaxTries; i++)
    {
        <div class="d-flex wordle-row">
            @if (i < Model.MoveHistory.Count && Model.MoveHistory.Count > 0)
            {
                @foreach (var lr in Model.MoveHistory[i].WordAnalysis)
                {
                    <div class="wordle-tile @lr.Feedback">@lr.Letter</div>
                }
            }
            else
            {
                @for (var j = 0; j < 5; j++)
                {
                    <div class="wordle-tile"></div>
                }
            }
        </div>
    }
</div>
<form method="post" id="guessForm">
    <input type="hidden" name="Guess" id="guessInput">
</form>
<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
</style>

@section Scripts {
    <script src="~/js/WriteInTiles.js"></script>
}
