@page
@model WordleClash.Web.Pages.Lobby.CreateModel

@{
    Layout = "Shared/_Layout";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/pages/create_join.css" asp-append-version="true" />
}
<div class="page__container">
    <div class="form__container">
        <h1>Create game</h1>
        <form method="post">
            <div>
                <input asp-for="Name" class="input__text" placeholder="Username..."/>
                <button type="submit" class="btn__base btn__primary">Create</button>
            </div>
        </form>
    </div>
</div>