@page "{code?}"
@model WordleClash.Web.Pages.Lobby.JoinModel

@{
    Layout = "Shared/_Layout";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/pages/create_join.css" asp-append-version="true" />
}
<div class="page__container">
    <div class="form__container join">
        <h1>Join a lobby</h1>
        <form method="post">
            <input asp-for="Name" placeholder="Username" class="input__text" />
            <input asp-for="Code" value="@Model.Code" placeholder="Code" class="input__text" />
            <button type="submit" class="btn__base btn__primary">Join game</button>
        </form>
        
    </div>
</div>
