@using WordleClash.Core
@using WordleClash.Core.Entities
@using WordleClash.Core.Services
@using WordleClash.Web.Utils
@inject UserService UserService
@inject SessionManager SessionManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WordleClash</title>
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/pages/layout.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>
<header>
    @if (Url.RouteUrl(ViewContext.RouteData.Values) != "/")
    {
        <div class="logo">
            <a asp-page="/Index">
                <h1>WORDLECLASH!</h1>
            </a>
        </div>
    }
    else
    {
        <div class="create-account__container">
            @{
                var userSession = SessionManager.GetUserSession();
                User? user = null;
                if (userSession != null)
                {
                    user = UserService.GetFromSession(userSession);
                }
            }
            @if (user == null)
            {
                <form method="post" asp-page="User/Index" asp-page-handler="Create">
                    <button>
                        <h1>Create account</h1>
                    </button>
                </form>
            }
            else
            {
                <a asp-page="User/Index" asp-route-username="@user.Name">
                    <h1>@user.Name</h1>
                </a>
            }
        </div>
    }
</header>

<div>
    <main role="main">
        @RenderBody()
    </main>
    
    @if (Url.RouteUrl(ViewContext.RouteData.Values) != "/" && !Url.RouteUrl(ViewContext.RouteData.Values).Contains("/Play/"))
    {
        <div class="back-button__container">
            <p>Go back</p>
            <a asp-page="/Index">
                <img src="~/icons/return.svg" alt="return icon"/>
            </a>
        </div>
    }
</div>
<script src="~/lib/htmx/htmx.min.js.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>