<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WordleClash</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/pages/layout.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>
<header>
    @if (Url.RouteUrl(ViewContext.RouteData.Values) != "/")
    {
        <div class="logo">
            <a asp-page="/Index">
                <h1>WORDLECLASH!</h1>
            </a>
        </div>
    }
    else
    {
        <div class="create-account__container">
            <form method="post" asp-page="Profile/Index" asp-page-handler="Create">
                <button>
                    <h1>Create account</h1>
                </button>
            </form>
        </div>
    }
</header>

<div>
    <main role="main">
        @RenderBody()
    </main>
    
    @if (Url.RouteUrl(ViewContext.RouteData.Values) != "/" && !Url.RouteUrl(ViewContext.RouteData.Values).Contains("/Play/"))
    {
        <div class="back-button__container">
            <p>Go back</p>
            <a asp-page="/Index">
                <img src="~/icons/return.svg" alt="return icon"/>
            </a>
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/htmx/htmx.min.js.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>