/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
header h1 {
    font-size: 30px;
    font-weight: 900;
    color: black;
    position: fixed;
    top: 10px;
    left: 10px;
}
header a {
    text-decoration: none;
    color: black;
}